* {
    box-sizing: border-box;
}

.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';   
    z-index: 1;
}

.logo {
    width: 75px;
    height: 95px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 25px;
}

.firstButton {
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 241px;
    height: 51px;
    margin-top: 80px;
    font-size: 20px;
    border: px solid #D70900;
    color: #D70900;
}

.header {
    
    height: 80px;   
    width: 381px; 
    font-family: 'Righteous'; 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 46px;
    height: 50px;
}

.title2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 15px;
}

.deckBox {
    width: 230px;
    height: 50px;
    box-shadow: 0px 4px 5px 0px #00000026;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 15px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    padding: 10px;

    color: #333333;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.biggerBox {
    height: 90px;
}

.layout {
    background-color: #FB6B6B;
    height: 100vh;   
    width: 381px; 
}

.bodyDeck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 80px;   
    width: 381px; 
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -4px 6px 0px #0000000D;

}

.setinha {
    width: 20px;
    height: 13px;
}

.answerButton {
    width: 55px;
    height: 24px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    color: #FFFFFF;
}

.redButton {
    background: #FF3030;
}

.yellowButton {
    background: #FF922E;
}

.greenButton {
    background: #2FBE34;
}

.answerBox {
    display: flex;
    flex-direction: column;
}

.answer {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}