* {
    box-sizing: border-box;
}

.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';   
    z-index: 1;
}

.logo {
    width: 136px;
    height: 161px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 25px;
}

.firstButton {
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 246px;
    height: 54px;
    margin-top: 80px;
    font-size: 20px;
    border: px solid #D70900;
    color: #D70900;
}

.header {
    height: 120px;   
    width: 381px; 
    font-family: 'Righteous'; 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 52px;
    height: 60px;
}

.title2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 31px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 15px;
}

.deckBox {
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px 0px #00000026;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 15px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    padding: 10px;

    color: #333333;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
}

.biggerBox {
    height: 131px;
}

.layout {
    background-color: #FB6B6B;
    height: 100vh;   
    width: 381px; 
}

.bodyDeck {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FB6B6B;
    margin-bottom: 80px;
}

.question {
    padding:5px;
    letter-spacing: -0.012em;
    line-height: 22px;
}

.footer {
    height: 70px;   
    width: 381px; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: #333333;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -4px 6px 0px #0000000D;

}

.footer img {
    width: 23px;
    height: 23px;
}

.result {
    height: 171px;
}

.setinha {
    width: 20px;
    height: 13px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.answerButton {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}

.redButton {
    background: #FF3030;
}

.yellowButton {
    background: #FF922E;
}

.greenButton {
    background: #2FBE34;
}

.answerBox {
    display: flex;
    flex-direction: column;
}

.answer {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #333333;
    letter-spacing: -0.012em;
    line-height: 22px;
}

.red {
    color: #FF3030;
    text-decoration: line-through;
}

.green {
    color: #2FBE34;
    text-decoration: line-through;
}

.yellow {
    color: #FF922E;
    text-decoration: line-through;
}

.answerIcon {
    width: 17px;
    height: 17px;
}

.reload {
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center
}

.icons {
    margin-top: 10px;
}

.header, .footer {
    align-items: center;
}

@media screen and (min-width: 1100px) {
    .header, .footer, .layout {
        width: 100%;
    }

    .deckBox {
        width: 567.12px;
        justify-content: space-between;
        padding: 15px;
    }
}